body {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}
.App {
  margin: 0;
}

:root {
  --theme-color: #39ff14;
  --font-size-xl: 4rem;
  --font-size-l: 2rem;
  --font-size-m: 1.3rem;
  --font-size-sm: 1rem;
  --heading-font: "Aldrich";
}
