* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: -webkit-fill-available;
}
body {
  background-color: black;
  color: white;
  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  position: relative;
}
#home{
  position: absolute;
  height: 100%;
  width: 100%;
}
#tagline{
  display: flex;
  justify-content: center ;
  align-items: flex-start;
  margin-left: 10%;
  height: 100%;
  max-width: 600px;
  flex-direction: column;
  padding-top: 66px;
}
#tagline h1{
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.6em;
}
#tagline h1 span{
  color : #39FF14;
}
button{
  font-size: 18px;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: #fdfffd;
  border-radius: 30px;
  box-shadow: 0px 0px 15px #39FF14;
  font-weight: 600;
  letter-spacing: 1.2px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.6s;
}
button:hover{
  background-color: #39FF14;
  border-color: white;
  box-shadow: 0px 0px 20px #fff;
}
@media only screen and (max-width: 768px) {
  #tagline h1{
    font-size: 2.5em;
    line-height:1.75em;
  }
}
@media only screen and (max-width: 540px) {
  #tagline{
    margin-left: 5%;
  }
  #tagline h1{
    font-size: 2.2em;
  }
}
@media only screen and (max-width: 400px) {
  #tagline{
    margin-left: 5%;
  }
  #tagline h1{
    font-size: 1.8em;
  }
}