@font-face {
    font-family: alienMine;
    src: url('../Fonts/Alien Mine.ttf');
}
nav{
    padding: 30px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav p{
    font-family: alienMine;
    font-style: regular;
    letter-spacing: 0.5em;
    margin-right: -0.5em;
    font-size: 3em;
    text-align: center;
    cursor: pointer;
}
nav #logo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 20px;
    cursor: pointer;
}
@media only screen and (max-width: 1115px) {
    nav p{
        font-size: 2.5em;
    }
    nav #logo{
        width: 80px;
        height: 80px;
    }
}
@media only screen and (max-width: 900px) {
    nav p{
        font-size: 2em;
    }
    nav #logo{
        width: 70px;
        height: 70px;
    }
}
@media only screen and (max-width: 550px) {
    nav p{
        font-size: 1.5em;
    }
    nav #logo{
        width: 60px;
        height: 60px;
    margin: 0 10px;
    }
}
@media only screen and (max-width: 440px) {
    nav p{
        font-size: 1.3em;
    }
    nav #logo{
        width: 50px;
        height: 50px;
    }
}
@media only screen and (max-width: 370px) {
    nav p{
        font-size: 1em;
    }
    nav #logo{
        width: 40px;
        height: 40px;
    }
}
