.container {
 
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2vw;
}
/* body {
  background-image: url("./images/bgv.gif");
  background-repeat: no-repeat;
  background-size: cover;
} */
.image-container-sponsor{
  position: absolute;
  top: -2%;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
  z-index: -1;
}
.image-container-sponsor img{
  min-width: 100%; 
  min-height: 105%; 
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


#blank {
  background: transparent;
}
h1 {
  margin-top: 1%;
  margin-bottom: 2%;
  font-size: var(--font-size-xl);
  font-family: var(--heading-font);
  text-align: center;
  color: white;
 
}
img {
  max-height: 100%;
  max-width: 100%;
}
.name {
  font-size: 1rem;
  display: none;
}
.box {
  transform-style: preserve-3d;
  transition: transform 3s ease-out;
  position: relative;
  width: 120px;
  height: 120px;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.box:hover {
  transform: rotateY(180deg);
}
.box:hover .front {
  display: none;
}
.box:hover .name {
  display: block;
}
.back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: var(--theme-color);
  text-decoration: none;
  font-family: var(--heading-font);
}
.Type {
  color: blanchedalmond;
}
.name {
  font-size: 1rem;
  display: none;
}

.front,
.back {
  position: absolute;
  width: 120px;
  height: 120px;
  /* -webkit-backface-visibility: hidden; 
    backface-visibility: hidden; */
}
.back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: unset;
  backface-visibility: unset;
}
@media (max-width: 1120px) {
  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: auto;
  }
  #blank {
    display: none;
  }
  h1 {
    font-size: var(--font-size-l);
  }
}
@media (max-width: 815px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: auto;
  }
  #blank {
    display: none;
  }
  h1 {
    font-size: 2rem;
  }
}
@media (max-width: 450px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 1px;
  }
  #blank {
    display: none;
  }
  h1 {
    font-size: 1rem;
  }
  .name {
    font-size: 0.5rem;
  }
}
